<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ray.jxc.mapper.IndexMapper">

    <!--int selectAllMenu();-->
    <select id="selectAllMenu" resultMap="MenuList">
        select * from jxc_menu
    </select>

    <!--List selectMenuByIds(@Param("roleIds")String[] roleIds);-->
    <select id="selectMenuByIds" resultMap="MenuList">
        SELECT DISTINCT m.id_,m.text_,m.icon_,m.url_,m.pid_,m.order_,m.flag_ FROM jxc_menu m
        LEFT JOIN jxc_menu_role mr
        ON m.`id_` = mr.`menu_id_`
        LEFT JOIN jxc_role r
        ON mr.`role_id_` = r.`id_`
        WHERE r.`id_` in
        <foreach collection="roleIds" item="roleId"  index="index" open="(" close=")" separator=",">
            #{roleId}
        </foreach>
    </select>

    <!--public List selectMenu();-->
    <select id="selectMenu" resultMap="MenuList">
        SELECT m.id_,m.text_,m.icon_,m.url_,m.pid_,m.order_,m.flag_ FROM jxc_menu m
        LEFT JOIN jxc_menu_role mr
        ON m.`id_` = mr.`menu_id_`
        LEFT JOIN jxc_role r
        ON mr.`role_id_` = r.`id_`
        WHERE r.`id_` = #{roleId}
    </select>

    <!--int insertMenu();-->
    <insert id="insertMenu">
        insert into jxc_menu(id_,text_,url_,icon_,order_,pid_) values(#{id},#{text},#{url},#{icon},#{order},#{pid})
    </insert>

    <!--int deleteMenu(@Param("id") String id);-->
    <delete id="deleteMenu">
        delete from jxc_menu where id_ = #{id}
    </delete>

    <!--int updateMenu(@Param("id") String id,@Param("text") String text,@Param("url") String url,@Param("icon") String icon,@Param("order") String order);-->
    <update id="updateMenu">
        update jxc_menu set text_ = #{text},url_ = #{url},icon_ = #{icon},order_ = #{order} where id_ = #{id}
    </update>

    <resultMap id="MenuList" type="Menu">
        <id property="id" column="id_"></id>
        <result property="text" column="text_"></result>
        <result property="icon" column="icon_"></result>
        <result property="url" column="url_"></result>
        <result property="pid" column="pid_"></result>
        <result property="order" column="order_"></result>
        <result property="flag" column="flag_"></result>
    </resultMap>

</mapper>